<!doctype html class="m-0">
<html lang="en">
<head>
  <%- include('./partials/header.ejs') %>
<title>Home</title>
</head>
<body class="bg-gray-600 font-body box-border">

   <!-- Navbar -->
   <%- include('./partials/navbar.ejs') %>
  
<div class="flex flex-col" id="mainContent">
 
  <!-- Add new bookmark -->
  <div class="text-center p-4">
      <h1 class=" text-gray-100 ">Add New Bookmark</h1><br>
      <form id="bookmarkForm" action="/bookmarks" method="POST" class="w-full flex flex-col md:flex-row md:items-start md:justify-around" onsubmit="return mySubmitFunction(event)">
        <div class="md:w-3/12">
        <input type="text" id="bookmarkName" name="bookmarkName" class="input w-full" placeholder="Enter bookmark name">
        <p class="text-red-400 hidden" id="err1">Name is required.</p>
        </div>

        <div class="md:w-5/12">
        <input type="url" id="bookmarkUrl" name="bookmarkUrl" class="input w-full" placeholder="Enter its URL">
        <p class="text-red-400 hidden" id="err2">Url is required.</p>
        </div>

        <button type="submit" class="btn bg-gray-800 md:w-2/12" id="submitBtn">Add new Bookmark</button>
      </form>
      <hr>
  </div>

  <!-- Bookmarks -->
  <div class="flex flex-wrap" id="bookmarkSec">
    <% if(arr && arr.length > 0){ %>
    <% for(var i=0; i<arr.length; i++){ %>
    <div id="<%= arr[i]._id %>" class=" bg-gray-800 w-60 flex flex-col items-center rounded-lg m-4 p-2">
      <h1 class="text-gray-50 overflow-x-auto"><%= arr[i].name %></h1>      
      <p class="overflow-x-auto w-52 text-gray-100 my-2"><%= arr[i].address %></p>
      <div class="flex justify-between w-full items-baseline my-2">
      <a href='<%= arr[i].address %>' class="btn-link btn-link-blue text-center w-48" target="_blank" rel="noopener noreferrer">Visit</a>
      <form action="/bookmarksDel" method="POST">
      <input type="hidden" name="Id" value='<%= arr[i]._id %>'>
      <button type="submit">
      <i class="fas fa-trash text-red-500 text-2xl cursor-pointer"></i>
      </button>
      </form>
      </div>
    </div>
    <% } %>
    <% } %>
  </div>
</div>


  <script src="/js/bookmark.js"></script>
  <script src="/js/script.js"></script>
  </body>
</html>