<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/header.ejs') %>
    <title><%= message.heading %></title>
</head>
<body class="bg-gray-800">
    <div class="flex justify-center p-5 items-center  w-full h-screen">
        <div class="text-gray-100 text-center">
            <h1 class="text-6xl"><%= message.heading %></h1>
            <p class="text-2xl"><%= message.paragraph %></p><br>
            <% if(message.link) { %>
            <a href='<%= message.link %>' class="btn-link text-xl bg-purple-600 p-2 mt-8 rounded-lg"><%= message.linkText %></a>
            <% } %>
        </div>
    </div>
</body>
</html>