<!doctype html>
<html lang="en">
<head>
<%- include('./partials/header.ejs') %>
<title>Hello, world!</title>
</head>
<body class="bg-gray-800 font-body">
<div class="flex flex-col h-full w-full justify-center">
    
    <h1 class="m-3 text-4xl text-center text-gray-100"><img src="img/NoteYacht-logo.gif" alt="NoteYacht logo" class=" h-14 w-14 inline "> NoteYacht</h1>
    <form action="/register" method="POST" class="place-self-center text-center bg-gray-50 w-11/12 p-2 mt-3 sm:w-96 rounded-lg shadow-2xl">
        <h2 class="font-bold text-2xl text-indigo-600 mt-1">Register</h1>

        <!-- Email id -->
        <div class="form-element text-left m-2">
            <% if(formData){ %>
            <input type="email" name="email" id="email1" value = '<%= formData.email %>'  placeholder="Enter your email" class="w-full input">
            <% } else { %>
            <input type="email" name="email" id="email1" placeholder="Enter your email" class="w-full input">
            <% } %>

            <% if(errors.email) { %>
            <p class="err"><%= errors.email %></p>
            <% } else if(errors['noteYacht.users index'] === 'email_1 dup key') { %>
            <p class="err">This email is already in use.</p>
            <% } %>
        </div>

        <!-- Name -->
        <div class="form-element text-left m-2">
            <% if(formData){ %>
            <input type="text" name="name" id="name1" value= '<%= formData.name %>' placeholder="Enter your full name" class="w-full input">
            <% } else { %>
            <input type="text" name="name" id="name1" placeholder="Enter your full name" class="w-full input">
            <% } %>
            <% if(errors.name) { %>
            <p class="err"><%= errors.name %></p>
            <% } %>
        </div>

        <!-- UserName -->
        <div class="form-element text-left m-2">
            <% if(formData){ %>
                <input type="text" name="username" id="username1" value= '<%= formData.username %>' placeholder="Enter username" class="w-full input">
            <% } else { %>
                <input type="text" name="username" id="username1" placeholder="Enter username" class="w-full input">
            <% } %>
            <% if(errors.username) { %>
            <p class="err"><%= errors.username %></p>
            <% } else if(errors['noteYacht.users index'] === 'username_1 dup key') { %>
            <p class="err">This username is already taken.</p>
            <% } %>
        </div>

        <!-- Password -->
        <div class="form-element text-left m-2">
            <% if(formData){ %>
            <input type="password" name="password" id="password1" value= '<%= formData.password %>'  placeholder="Enter your password" class="w-full input">
            <% } else { %>
                <input type="password" name="password" id="password1" placeholder="Enter your password" class="w-full input">
            <% } %>
            <% if(errors.password) { %>
            <p class="err"><%= errors.password %></p>
            <% } %>
        </div>

        <!-- Confirm Password -->
        <div class="form-element text-left m-2">
            <% if(formData){ %>
            <input type="password" name="confirmPassword" id="confirmPassword1" value='<%= formData.confirmPassword %>' placeholder="Re-enter your password" class="w-full input">
            <% } else { %>
            <input type="password" name="confirmPassword" id="confirmPassword1" placeholder="Re-enter your password" class="w-full input">   
            <% } %>
            <% if(errors.confirmPassword) { %>
            <p class="err">Does not match with password.</p>
            <% } %>
        </div>

        <!-- Submit Button -->
        <button type="submit" id="btn" class="btn btn-indigo w-full">Register</button>
        <div class="m-2">
            <p class="inline">Already have an account? </p><a href="/login">Login</a>
        </div>
    </form>
</div>
<script>
</script>
</body>
</html>